<div class="container">
  <h2>Lista de Produtos</h2>
  <a [routerLink]="['/product/new']" class="btn btn-success">Add New Product</a>
  <a [routerLink]="['cities']" class="btn btn-success">Listar Cidades</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Estoque</th>
      <th>Cidade</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.value }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.city }}</td>
      <td>
        <a [routerLink]="['/edit', product.id]" class="btn btn-primary">Edit</a>
      </td>
      <td>
        <button (click)="deleteProduct(product.id!)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>


</div>
